#sidebar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white; /* Black */
  border-style: solid;
  text-align: center;
  
}

#board{
	width: 75%;
	height: 100%;
	overflow: auto;
}

#roundTable{
	height: 100%;
	width: 100%;
}

#leaderboard{
	margin:auto;
	
}

.borderedTable{
	border-style:solid;
	border-collapse: collapse;
	border-width: 1px;
}

.borderedTable td{
	border-style:solid;
	border-width: 1px;
}

.borderedTable tr{
	border-style:solid;
	border-width: 1px;
}

.matchTable{
	width: 200px;
	overflow: hidden;
	text-align: center;
}

.matchTable input{
	width: 86%;
	margin: auto:
}

.leadercell{
	border-style:solid;
}